/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --basic-text-color:#757575;
  --title-text-color:#212121;
  --secondary-text-color:#FFFFFF;
  --accent-color:#2196F3;
  --primary-bg-color:#FFFFFF;
  --basic-background-color:#F5F5F5;
  --secondary-background-color:#F5F4FA;
  --accent-background-color:#2F303A;
  --active-bg-color:#188CEB;
  --basic-border-color: #AFB1B8;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
  background: var(--primary-bg-color);
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
  }
}

.list {
  list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list_do {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .list_do {
    display: flex;
    justify-content: space-between;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo_header {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .logo_header {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo_footer {
  margin-bottom: 20px;
}

.logo__span {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 87px;
  }
}
.header__site-nav {
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__site-nav {
    display: flex;
  }
}
.header__site-nav .header__list-link {
  position: relative;
}
.header__site-nav .header__list-link:not(:last-child) {
  margin-right: 50px;
}
.header__site-nav .header__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__site-nav .header__link:hover, .header__site-nav .header__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header__site-nav .header__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header__site-nav .header__list-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--basic-text-color);
  fill: currentColor;
}
@media screen and (max-width: 1199px) {
  .header__site-nav .header__list-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header__site-nav .header__link_current {
  color: var(--accent-color);
}
.header__site-nav .header__link_current::after {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__site-nav-tablet {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header__item-contact:not(:last-child) {
    margin-right: 50px;
  }
}

.mobile-menu-btn {
  border: none;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  fill: var(--accent-color);
}

.mobile-menu-btn__icon {
  width: 40px;
  height: 40px;
  background-color: var(--primary-bg-color);
}

.mobile-menu {
  position: fixed;
  overflow: auto;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateY(0);
}

.mobile-menu__container {
  position: relative;
}

.mobile-menu__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  padding: 0;
  border: 0;
  line-height: 0;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color);
}

.mobile-menu__close-btn-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__list {
  padding-top: 48px;
  padding-left: 40px;
  margin-bottom: 300px;
}

.mobile-menu__list-contact {
  padding-left: 40px;
  margin-bottom: 64px;
}

.mobile-menu__item-link:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__link_current {
  color: var(--accent-color);
}

.mobile-menu__link_tel {
  font-size: 34px;
  color: var(--accent-color);
}

.mobile-menu__link_mail {
  font-size: 24px;
  color: var(--basic-text-color);
}

.mobile-menu__link_social {
  font-size: 18px;
  color: var(--accent-color);
}

.mobile-menu__list-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu__social-item {
  padding-left: 10px;
  padding-right: 10px;
}
.mobile-menu__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  margin: 0 auto;
  width: 480px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--accent-background-color);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero480.jpg");
  background-size: 480px 400px;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero480@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero768.jpg");
    background-size: 768px 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero1200.jpg");
    background-size: 1600px 600px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero1200@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--active-bg-color);
}

@media screen and (min-width: 450px) {
  .section__feature {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .section__feature {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .section__feature {
    width: 270px;
  }
}
.section__feature:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__feature:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.section__featuare-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: var(--secondary-background-color);
}

.section__fetuare-list-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section__fetuare-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .section__fetuare-list-title {
    text-align: start;
  }
}

.section__fetuare-list-text {
  font-size: 14px;
  line-height: 1.71;
}

.activity {
  display: none;
}
@media screen and (min-width: 1200px) {
  .activity {
    display: block;
    padding-top: 0;
  }
}

.activity__photo {
  position: relative;
}
.activity__photo:not(:last-child) {
  margin-right: 30px;
  max-width: 370px;
}

.activity__box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activity__text {
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.team {
  background: var(--secondary-background-color);
}

.team__list {
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__list {
    width: calc((100% - 30px) / 2);
  }
}
.team__list:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__list:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__list:not(:last-child) {
    margin-right: 30px;
    max-width: 270px;
  }
}

.team__list-box {
  padding: 30px;
}

.team__list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--title-text-color);
}

.team__list-text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.social-net {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-net_mgn {
  margin-top: 16px;
}

.social-net__item {
  width: 44px;
  height: 44px;
}

.social-net__link {
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--basic-border-color);
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-net__link:hover, .social-net__link:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.section__list-do {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section__client {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .section__client {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .section__client {
    width: calc((100% - 150px) / 6);
  }
}

.section__client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--basic-border-color);
  border-radius: 4px;
  color: var(--basic-border-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section__client-link:hover, .section__client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.section__client-ikon {
  width: 106px;
  height: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-background-color);
}

.footer__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    align-items: baseline;
    justify-content: space-between;
    text-align: start;
  }
}

.footer__list-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__logo-text,
.footer__address {
  color: var(--secondary-text-color);
}

.footer__link_active:hover,
.footer__link_active:focus {
  color: var(--accent-color);
}

.footer__social-net-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.footer__social-link {
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--basic-border-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__social-icon {
  fill: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.form-subscription__label-footer {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-subscription {
    margin-top: 60px;
  }
}
.form-subscription__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

@media screen and (min-width: 1200px) {
  .form-subscription__box {
    display: flex;
    justify-content: right;
    align-items: center;
  }
}
.form-subscription__input {
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--accent-background-color);
  border-radius: 4px;
}
.form-subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 450px) {
  .form-subscription__input {
    width: 358px;
  }
}

.form-subscription__button {
  position: relative;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  padding: 10px 28px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: start;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscription__button:hover, .form-subscription__button:focus {
  background-color: var(--active-bg-color);
}
@media screen and (min-width: 1200px) {
  .form-subscription__button {
    margin-top: 0;
  }
}

.form-subscription__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0) scale(1);
  width: 450px;
  height: 609px;
  overflow: auto;
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal__button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--primary-bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover, .modal__button-close:focus {
  fill: var(--accent-color);
}

.modal__icon-close {
  width: 18px;
  height: 18px;
}

.modal__title {
  display: block;
  margin: 40px 40px 12px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form-modal {
  padding: 0 40px;
}

.form-modal__label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-modal__text-label {
  display: block;
  margin-bottom: 4px;
}

.form-modal__box {
  position: relative;
}

.form-modal__input {
  display: block;
  resize: none;
  width: 370px;
  height: 40px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__input:focus, .form-modal__input:hover {
  border-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .form-modal__input {
    width: 448px;
  }
}

.form-modal__icon-input {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__input:focus + .form-modal__icon-input, .form-modal__input:hover + .form-modal__icon-input {
  fill: var(--active-bg-color);
}

.form-modal__textarea {
  display: block;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__textarea:focus, .form-modal__textarea:hover {
  border-color: var(--accent-color);
}
.form-modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .form-modal__textarea {
    width: 448px;
  }
}

.form-modal__label-check {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 12px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--basic-text-color);
}
@media screen and (min-width: 1200px) {
  .form-modal__label-check {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-modal__link-check {
  color: var(--accent-color);
}

.form-modal__icon-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 2px;
  margin-right: 7px;
}
.form-modal__check:focus + .form-modal__icon-checkbox {
  box-shadow: 0 0 0 2px var(--accent-color);
}
.form-modal__check:checked + .form-modal__icon-checkbox {
  background-color: var(--accent-color);
  border: none;
}
.form-modal__check:not(focus) + .form-modal__icon-checkbox {
  box-shadow: none;
}

.form-modal__check {
  position: absolute;
  appearance: none;
}

.form-modal__button {
  margin: auto;
  padding: 0;
  width: 200px;
}
.form-modal__button:hover, .form-modal__button:focus {
  background-color: var(--active-bg-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(3) {
    margin-right: 88px;
    margin-bottom: 15px;
  }
}
.filter__button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter__button.primary {
  color: var(--secondary-text-color);
  background: var(--accent-color);
}

.case-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.case-cards__card {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .case-cards__card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .case-cards__card {
    margin-bottom: 0;
    flex-basis: calc((100% - 60px) / 3);
  }
}

.cardlink {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cardlink:hover, .cardlink:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cardlink__box {
  position: relative;
  overflow: hidden;
}

.cardlink__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 1px;
}
.cardlink:hover .cardlink__overlay, .cardlink:focus .cardlink__overlay {
  transform: translateY(0);
}

.cardlink__descrpn {
  flex-grow: 1;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  border-top: 0;
  background: var(--primary-bg-color);
}

.cardlink__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.cardlink__text {
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */