.logo{  
    display: inline-block;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;   
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;  
  
     @media screen and (min-width:1200px) {
       font-size: 26px;
      line-height: 1.2;
     }       
  } 

.logo_header{
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--title-text-color); 

     @media screen and (min-width:1200px){
       padding-top: 24px;
       padding-bottom: 25px;
       margin-right: 93px;
     }
  }

.logo_footer{
    margin-bottom: 20px;
    
    // @media screen and (min-width:1200px){
    //   padding: 0;
    // }
  }
 
.logo__span{
    color: var(--accent-color);
  } 