 body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--basic-text-color);
    background:var(--primary-bg-color);
  }

  h1,
  h2,
  h3,
  p,
  ul{
    margin-top: 0;
    margin-bottom: 0;
  }

  ul{
    padding: 0;
  }

  img {
    display: block;
     width: 100%;
    height: auto;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;  

   @media screen and (min-width:480px) {
    width: 480px;  
  }

  @media screen and (min-width:768px) {
    width: 768px;
  } 
   
   @media screen and (min-width:1200px){
    width: 1200px;  
  }
}

.section{
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width:1200px){
  padding-top: 94px;
  padding-bottom: 94px; 
  }
  
}

.section__title{
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);

  @media screen and (min-width:1200px){
    font-size: 36px;    
  }
}
  .list{
    list-style: none;

  }
   //для планшета и компьютера

  @media screen and (min-width:768px) and (max-width:1199px){ 
    .list_do{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  }
  
  @media screen and (min-width:1200px){
    .list_do{
     display: flex; 
     justify-content: space-between;
    }
  }
  